node_modules/
.expo/
android/.gradle/
android/app/build/
android/local.properties
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.lock
*.pbxuser
.env
.env.*
.DS_Store
Thumbs.db
build/
dist/